/*
 * -------------------------------------------------
 * Nextflow config file for Sarek
 * -------------------------------------------------
 * Default config options for all environments.
 * Cluster-specific config options should be saved
 * in the configuration folder and imported under a
 * profile name here.
 */

manifest {
  homePage = 'http://opensource.scilifelab.se/projects/sarek/'
  description = 'Sarek - Workflow For Somatic And Germline Variations'
  defaultBranch = 'cam-csd3'
}

/*env {
 *NXF_OPTS="-Xms1g -Xmx4g"
 *}
 */

profiles {

  // Default profile for CSD3 secure clusters
  // Runs the pipeline using the job scheduler 
  // Singularity images need to be set up
  standard {
    includeConfig 'configuration/base.config'
    includeConfig 'configuration/csd3-slurm.config'
    includeConfig 'configuration/singularity-path.config'
    includeConfig 'configuration/genomes.config'
  }

  // slurm profile for CSD3 secure clusters
  // Runs the pipeline using the job scheduler
  // Singularity images need to be set up
  slurm {
    includeConfig 'configuration/base.config'
    includeConfig 'configuration/csd3-slurm.config'
    includeConfig 'configuration/singularity-path.config'
    includeConfig 'configuration/genomes.config'
  }

  // Singularity images need to be set up
  singularityPath {
    includeConfig 'configuration/base.config'
    includeConfig 'configuration/csd3-slurm.config'
    includeConfig 'configuration/singularity-path.config'
    includeConfig 'configuration/genomes.config'
  }
  
}
